In [1]:
# Input configuration
import os
os.chdir('../../configuration')
%run config.ipynb

# Import all
os.chdir("../code/methods")
%run 101_imports_updated.ipynb

# Set paths
os.chdir("../setup_paths")
%run 001_setup_path.ipynb

# Load local methods
os.chdir("../methods")
local_methods = os.getcwd()
%run 101_imports_updated.ipynb

# Load all methods from methods framework
# Set path to methods path
os.chdir(methods_path)
%run 010_methods_all.ipynb

# Display settings
pd.set_option('display.max_columns', None)

In [2]:
# Load data
df = read_file(df_name,input_path) 

# #Analyze by describing data
log_to_file_algo(algo,output_path_results)
print(' Shape of Data set :',df.shape)
log_to_file('Shape of Data set : ',output_path_results)
log_to_file_result(df.shape,output_path_results)
no_of_columns = df.shape[1]

# Head of data
print(" \n Head of the Dataset: \n ")
print(df.head(10))

 Shape of Data set : (893, 12)

 Head of the Dataset:

   PassengerId  Survived  Pclass  \
0            1         0     NaN
1            2         1     NaN
2            3         1     3.0
3            3         1     3.0
4            4         1     1.0
5            4         1     1.0
6            5         0     3.0
7            6         0     3.0
8            7         0     1.0
9            8         0     3.0

                                                Name   Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris   NaN   NaN    NaN
1  Cumings, Mrs. John Bradley (Florence Briggs Th...   NaN   NaN    NaN
2                             Heikkinen, Miss. Laina   NaN  26.0    0.0
3                             Heikkinen, Miss. Laina   NaN  26.0    0.0
4       Futrelle, Mrs. Jacques Heath (Lily May Peel)   NaN  35.0    1.0
5       Futrelle, Mrs. Jacques Heath (Lily May Peel)   NaN  35.0    1.0
6                           Allen, Mr. William Henry   NaN  35.0    0.0
7                                   Moran, Mr. James  male   NaN    0.0
8                            McCarthy, Mr. Timothy J  male  54.0    0.0
9                     Palsson, Master. Gosta Leonard  male   2.0    3.0

   Parch            Ticket     Fare Cabin Embarked
0    NaN               NaN      NaN   NaN      NaN
1    NaN               NaN      NaN   NaN      NaN
2    0.0  STON/O2. 3101282   7.9250   NaN        S
3    0.0  STON/O2. 3101282   7.9250   NaN        S
4    0.0            113803  53.1000  C123        S
5    0.0            113803  53.1000  C123        S
6    0.0            373450   8.0500   NaN        S
7    0.0            330877   8.4583   NaN        Q
8    0.0             17463  51.8625   E46        S
9    1.0            349909  21.0750   NaN        S

In [3]:
# Tail of data
print(" Tail of the Dataset: \n ")
print(df.tail())

 Tail of the Dataset:

     PassengerId  Survived  Pclass                                      Name  \
888          887         0     2.0                     Montvila, Rev. Juozas
889          888         1     1.0              Graham, Miss. Margaret Edith
890          889         0     3.0  Johnston, Miss. Catherine Helen "Carrie"
891          890         1     1.0                     Behr, Mr. Karl Howell
892          891         0     3.0                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
888    male  27.0    0.0    0.0      211536  13.00   NaN        S
889  female  19.0    0.0    0.0      112053  30.00   B42        S
890  female   NaN    1.0    2.0  W./C. 6607  23.45   NaN        S
891    male  26.0    0.0    0.0      111369  30.00  C148        C
892    male  32.0    0.0    0.0      370376   7.75   NaN        Q

In [4]:
# Remove duplicates
no_rows_before = df.shape[0]
df = duplicate_remove(df)
no_rows_after = df.shape[0]
print(" No.of duplicates removed:",no_rows_before-no_rows_after)

 No.of duplicates removed: 4

In [5]:
# Identify unique values columns for deletion.
def unique_value_rows(df):    
    rows_count = df.shape[0]
    columns_to_drop = []
    for col_name in df.columns:    
        if(rows_count == len(set(df[col_name]))):
            columns_to_drop.append(col_name)
    return(columns_to_drop)

# Drop unnecessary columns
def drop_columns(df,columns_to_drop):    
    df =df.drop(columns_to_drop,axis =1)    
    log_to_file_result(columns_to_drop,output_path_results)
    return df

# Automatic deletion of unique value columns
columns_to_drop =  unique_value_rows(df)
print("Columns deleted: ")
print("\t Automatically: ", columns_to_drop)
# print(df.shape)
log_to_file('Columns deleted automatically: ',output_path_results)
df = drop_columns(df,columns_to_drop)
# print(df.shape)

# Manual deletion of unnecessary value columns
columns_to_drop = []
if( df_name == 'df.csv'): # Note: The below 2 columns hard coded for this specific data frame. This need to be changed for your project.
    columns_to_drop = ['Ticket','Cabin']
print("\t Manually: ", columns_to_drop)
log_to_file('Columns deleted manually: ',output_path_results)
df = drop_columns(df,columns_to_drop)
# print(df.shape)

Columns deleted:
	 Automatically:  ['PassengerId', 'Name']
	 Manually:  ['Ticket', 'Cabin']

In [6]:
# Info of Data
print("Before convert: \n ")
df.info()

def convert_dtype(df,columns_to_convert):
    for column_name in columns_to_convert:           
        df[column_name] = df[column_name].astype(object)
        
# Manually convert float type columns to object type. 
# Like balances and any amounts should be in float only, should not convert.
columns_to_convert = []

# Uncomment below line and mention your data set columns to convert
# columns_to_convert = ['Pclass','Age','SibSp','Parch']
convert_dtype(df,columns_to_convert)

# Info of Data
print("\n \n After convert: \n ")
df.info()

Before convert:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 892
Data columns (total 8 columns):
Survived    889 non-null int64
Pclass      887 non-null float64
Sex         886 non-null object
Age         710 non-null float64
SibSp       887 non-null float64
Parch       887 non-null float64
Fare        887 non-null float64
Embarked    885 non-null object
dtypes: float64(5), int64(1), object(2)
memory usage: 62.5+ KB


 After convert:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 892
Data columns (total 8 columns):
Survived    889 non-null int64
Pclass      887 non-null float64
Sex         886 non-null object
Age         710 non-null float64
SibSp       887 non-null float64
Parch       887 non-null float64
Fare        887 non-null float64
Embarked    885 non-null object
dtypes: float64(5), int64(1), object(2)
memory usage: 62.5+ KB

In [7]:
# Separate numeric and categorical columns
all_cols,cat_cols,num_cols = separate_numeric_categoric(df)
os.chdir(output_path)
print(' \n Numerical columns : \n ',num_cols)
log_to_file('Numerical columns:',output_path_results)
log_to_file_result(num_cols,output_path_results)

print(' \n Categorical columns : \n ',cat_cols)
log_to_file('Categorical columns:',output_path_results)
log_to_file_result(cat_cols,output_path_results)

 Numerical columns :
  ['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

 Categorical columns :
  ['Sex', 'Embarked']

In [8]:
# Check missing values before impute
print(" Head of data : \n ")
print(df.head())
print('\n # Before impute: \n')
na_columns_count = check_missing_values(df,all_cols,na_count=0)
print('\n No.of columns with NA values:',na_columns_count)

# Impute missing values              
df = DataFrameImputer().fit_transform(df)

# Check missing values after impute
print('\n # After impute: \n')
na_columns_count = check_missing_values(df,all_cols,na_count=0)
print('No.of columns with NA values:',na_columns_count)

# # Write final file
# write_file(df,local_output_path_csvs,file_name = 'df_missing_values_replaced.csv')

 Head of data :

   Survived  Pclass   Sex   Age  SibSp  Parch     Fare Embarked
0         0     NaN   NaN   NaN    NaN    NaN      NaN      NaN
1         1     NaN   NaN   NaN    NaN    NaN      NaN      NaN
6         0     3.0   NaN  35.0    0.0    0.0   8.0500        S
7         0     3.0  male   NaN    0.0    0.0   8.4583        Q
8         0     1.0  male  54.0    0.0    0.0  51.8625        S

 # Before impute:

Pclass 2
Sex 3
Age 179
SibSp 2
Parch 2
Fare 2
Embarked 4

 No.of columns with NA values: 7

 # After impute:

No.of columns with NA values: 0

In [9]:
# Create Dummy varibles for categorical varaibles.
all_cols,cat_cols,num_cols = separate_numeric_categoric(df)
print('Categorical columns: ',cat_cols)
df_with_dummy = create_dummy(df,cat_cols)
print(' \n All columns after dummy: ',df_with_dummy.columns.values)

# Write final file
write_file(df_with_dummy,output_path_csvs,file_name = df_processed_final)

Categorical columns:  ['Sex', 'Embarked']

 All columns after dummy:  ['Survived' 'Pclass' 'Age' 'SibSp' 'Parch' 'Fare' 'Sex_male' 'Embarked_Q'
 'Embarked_S']